In [29]:
import urllib3
import pandas as pd
 

modals_url="http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv"
http = urllib3.PoolManager()
r = http.request('GET', modals_url)
response=r.data.decode("utf-8")

lines=response.split('\r')

lines

cols_name=lines[0].split(",")
n_cols=len(cols_name)
print("len ->",len(cols_name))
print("data -> ",cols_name)

counter=0
main_dict={}
for col in cols_name:
    main_dict[col]=[]
    

#reader_csv = csv.reader(response.split('\r'), delimiter=',')
for line in lines:
    if(len(line))>0:
        if (counter>0):
            values=line.strip().split(',')
            for i in range(len(cols_name)):
                main_dict[cols_name[i]].append(values[i])
        counter+=1
print("el dataset tiene %d filas y %d columnas" % (counter, n_cols))

data=pd.DataFrame(main_dict)
data.head()

len -> 12
data ->  ['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude', 'longitude']
el dataset tiene 986 filas y 12 columnas

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.51947,-121.435768

In [30]:
path_root="C:/Users/MYEQ/Documents/Itcodium.git/datascience/Datasets/"

data.to_json(path_root+"SacramentoTransactions.json")