In [22]:
import pandas as pd
path_root="C:/Users/MYEQ/Documents/Itcodium.git/datascience/Datasets/"
path=path_root+"customer-churn-model/Customer Churn Model.txt"

In [23]:
data=pd.read_csv(path)
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Crear un subconjunto de datos

In [24]:
account_length=data["Account Length"]
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [25]:
type(account_length)

pandas.core.series.Series

In [26]:
subset=data[["State","Account Length","Phone","Eve Charge"]]
subset.head()

  State  Account Length     Phone  Eve Charge
0    KS             128  382-4657       16.78
1    OH             107  371-7191       16.62
2    NJ             137  358-1921       10.30
3    OH              84  375-9999        5.26
4    OK              75  330-6626       12.61

In [27]:
type(subset)

pandas.core.frame.DataFrame

In [28]:
desired_columns=["State","Account Length","Phone","Eve Charge"]
subset=data[desired_columns]
subset.head()

  State  Account Length     Phone  Eve Charge
0    KS             128  382-4657       16.78
1    OH             107  371-7191       16.62
2    NJ             137  358-1921       10.30
3    OH              84  375-9999        5.26
4    OK              75  330-6626       12.61

In [32]:
desired_columns=["State","Account Length","Phone","Eve Charge","Int'l Plan",'VMail Message','Churn?']
all_columns_list=data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [33]:
sublist=[x for x in all_columns_list if x not in desired_columns]
sublist

['Area Code',
 'VMail Plan',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls']

In [34]:
subset=data[sublist]
subset.head()

,Area Code,VMail Plan,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,415,yes,265.1,110,45.07,197.4,99,244.7,91,11.01,10.0,3,2.70,1
1,415,yes,161.6,123,27.47,195.5,103,254.4,103,11.45,13.7,3,3.70,1
2,415,no,243.4,114,41.38,121.2,110,162.6,104,7.32,12.2,5,3.29,0
3,408,no,299.4,71,50.90,61.9,88,196.9,89,8.86,6.6,7,1.78,2
4,415,no,166.7,113,28.34,148.3,122,186.9,121,8.41,10.1,3,2.73,3

In [36]:
data[2:5]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [61]:
data1=data[(data["Day Charge"]>56) | (data["State"]=='NY')]
data1

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.40,253.9,100,11.43,10.1,9,2.73,1,True.
373,NY,32,415,364-3567,no,no,0,164.8,98,28.02,...,96,19.54,167.3,108,7.53,14.8,2,4.00,2,False.
530,NY,47,415,391-1348,no,yes,37,163.5,77,27.80,...,102,17.26,232.0,87,10.44,7.8,4,2.11,2,False.
539,NY,59,408,415-4609,no,no,0,107.8,113,18.33,...,125,18.41,217.5,92,9.79,9.9,3,2.67,2,False.
551,NY,157,415,421-1189,no,no,0,224.5,111,38.17,...,99,17.06,116.6,118,5.25,11.5,2,3.11,2,False.
597,NY,39,408,356-1889,no,no,0,160.4,68,27.27,...,103,8.72,235.3,106,10.59,9.1,5,2.46,2,False.
605,MO,112,415,373-2053,no,no,0,335.5,77,57.04,...,109,18.06,265.0,132,11.93,12.7,8,3.43,2,True.
650,NY,140,415,333-8180,no,no,0,235.5,81,40.04,...,130,21.86,103.1,111,4.64,11.5,4,3.11,2,False.
678,NY,65,510,383-8878,no,no,0,195.4,110,33.22,...,109,15.40,178.5,105,8.03,8.9,4,2.40,0,False.
754,NY,41,415,393-9985,no,no,0,209.9,105,35.68,...,105,10.36,253.7,104,11.42,9.6,4,2.59,1,False.
964,NY,9,408,353-1941,no,yes,31,193.8,130,32.95,...,98,17.22,191.2,102,8.60,13.3,2,3.59,1,False.
975,DE,129,510,332-6181,no,no,0,334.3,118,56.83,...,104,16.33,191.0,83,8.59,10.4,6,2.81,0,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
994,NY,147,510,421-7205,no,yes,33,251.5,107,42.76,...,110,19.90,213.4,87,9.60,10.4,6,2.81,3,False.
1007,NY,181,408,340-9200,no,no,0,143.3,91,24.36,...,58,16.62,223.3,95,10.05,6.0,7,1.62,1,False.
1011,NY,11,415,401-4650,no,no,0,143.4,130,24.38,...,50,24.60,194.0,100,8.73,9.7,6,2.62,2,False.
1013,NY,104,415,338-3781,no,no,0,156.2,93,26.55,...,54,16.41,222.7,94,10.02,13.1,5,3.54,1,False.
1044,NY,94,510,417-3046,yes,no,0,243.2,109,41.34,...,88,12.50,94.9,99,4.27,7.2,4,1.94,4,False.
1065,NY,68,415,349-4762,no,yes,29,239.5,82,40.72,...,105,17.32,167.8,70,7.55,9.9,6,2.67,0,False.
1073,NY,44,510,407-9244,no,no,0,143.2,77,24.34,...,114,14.43,215.8,77,9.71,7.6,4,2.05,1,False.
1077,NY,108,415,344-7197,no,no,0,154.2,123,26.21,...,86,9.55,246.4,75,11.09,15.4,4,4.16,4,True.
1110,NY,117,415,415-8780,no,no,0,144.6,115,24.58,...,66,22.00,253.2,113,11.39,7.4,9,2.00,2,False.
1124,NY,167,415,409-7494,no,no,0,166.4,85,28.29,...,135,20.67,229.2,95,10.31,9.9,5,2.67,1,False.
1148,NY,122,415,352-6833,no,no,0,173.6,110,29.51,...,84,7.79,211.7,103,9.53,9.7,7,2.62,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,NY,122,415,403-9468,no,yes,37,163.0,107,27.71,...,118,26.59,200.0,85,9.00,11.6,5,3.13,1,False.
2369,NY,112,415,391-1737,no,no,0,174.3,123,29.63,...,124,11.92,215.4,89,9.69,9.0,6,2.43,4,True.
2390,NY,122,510,397-3943,no,no,0,145.6,102,24.75,...,111,24.20,228.2,91,10.27,12.2,5,3.29,0,False.
2401,NY,126,415,352-7752,yes,no,0,239.7,87,40.75,...,92,23.94,183.5,113,8.26,11.4,1,3.08,1,True.
2402,NY,77,415,388-9285,no,yes,33,143.0,101,24.31,...,102,18.04,104.9,120,4.72,15.3,4,4.13,5,True.
2435,NY,112,415,404-9504,no,yes,23,286.6,79,48.72,...,102,26.80,193.9,101,8.73,10.3,6,2.78,1,False.
2450,NY,137,510,338-7955,no,no,0,109.8,120,18.67,...,86,19.59,255.8,103,11.51,11.9,6,3.21,1,False.
2513,NY,86,510,387-2041,no,no,0,70.7,125,12.02,...,113,17.94,174.6,107,7.86,0.0,0,0.00,2,False.
2581,NY,123,415,329-6731,no,no,0,123.2,104,20.94,...,117,16.15,170.3,95,7.66,12.9,5,3.48,4,True.
2594,OH,115,510,348-1163,yes,no,0,345.3,81,58.70,...,106,17.29,217.5,107,9.79,11.8,8,3.19,1,True.
2600,NY,148,408,407-7464,no,no,0,208.4,120,35.43,...,99,14.82,310.7,105,13.98,11.2,4,3.02,1,False.
2652,NY,111,415,382-4872,no,no,0,181.8,117,30.91,...,91,13.44,266.2,123,11.98,9.7,9,2.62,0,False.
2803,NY,104,415,389-6081,no,no,0,264.0,108,44.88,...,75,11.24,177.7,91,8.00,10.6,8,2.86,3,False.
2857,NY,160,408,352-6084,no,no,0,216.8,77,36.86,...,117,17.62,228.6,117,10.29,5.6,2,1.51,1,False.
2881,NY,91,415,377-9829,no,yes,20,146.1,98,24.84,...,104,23.58,137.7,100,6.20,6.2,3,1.67,1,False.
2925,NY,168,408,333-5729,no,no,0,163.4,134,27.78,...,87,20.41,164.0,147,7.38,11.6,2,3.13,2,True.
2959,NY,125,415,367-3950,no,no,0,233.3,65,39.66,...,93,17.83,210.6,109,9.48,9.1,4,2.46,1,False.
2981,NY,46,415,414-5177,no,no,0,122.2,67,20.77,...,62,14.21,194.8,98,8.77,9.7,6,2.62,1,False.
2987,NY,131,408,406-8995,yes,no,0,122.3,83,20.79,...,94,10.10,147.9,95,6.66,13.7,3,3.70,3,True.
3012,NY,91,510,394-8256,no,no,0,109.8,100,18.67,...,104,16.12,206.7,85,9.30,11.1,3,3.00,1,False.
3081,NY,204,415,371-9414,no,no,0,174.3,85,29.63,...,95,21.60,176.4,96,7.94,5.9,3,1.59,6,False.
3086,NY,54,510,390-6932,yes,no,0,236.3,91,40.17,...,130,12.99,160.3,98,7.21,11.2,8,3.02,3,False.
3110,NY,31,408,401-7335,no,yes,28,171.8,116,29.21,...,125,20.46,245.5,80,11.05,10.6,7,2.86,1,False.
3129,NY,115,510,402-1607,no,yes,16,133.3,110,22.66,...,111,15.78,161.5,113,7.27,5.6,4,1.51,2,False.
3176,NY,122,415,386-6580,no,no,0,141.4,128,24.04,...,70,12.44,123.0,75,5.54,8.1,4,2.19,0,False.
3219,NY,150,415,421-6268,no,yes,35,139.6,72,23.73,...,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

In [62]:
subset_first50=data[["Account Length","Day Mins","Night Mins"]][:50]
subset_first50.head()

   Account Length  Day Mins  Night Mins
0             128     265.1       244.7
1             107     161.6       254.4
2             137     243.4       162.6
3              84     299.4       196.9
4              75     166.7       186.9

In [69]:
subset_first50[:10]

   Account Length  Day Mins  Night Mins
0             128     265.1       244.7
1             107     161.6       254.4
2             137     243.4       162.6
3              84     299.4       196.9
4              75     166.7       186.9
5             118     223.4       203.9
6             121     218.2       212.6
7             147     157.0       211.8
8             117     184.5       215.8
9             141     258.6       326.4

In [70]:
data.iloc[1:10,3:6] #filas 1 a 10 y Columnas 3 a 6

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [73]:
# todas filas y Columnas 3 a 6
data.iloc[:,3:6][:5]

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no

In [74]:
data.iloc[3:6,[1,2,3]][:5]

   Account Length  Area Code     Phone
3              84        408  375-9999
4              75        415  330-6626
5             118        510  391-8027

In [76]:
data.loc[3:6,["Account Length","Day Mins","Night Mins"]][:5]

   Account Length  Day Mins  Night Mins
3              84     299.4       196.9
4              75     166.7       186.9
5             118     223.4       203.9
6             121     218.2       212.6

In [79]:
data["Total Mins"]= data["Day Mins"]+ data["Night Mins"]+ data["Eve Mins"]
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,707.2
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,611.5
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,527.2
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,558.2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,501.9